<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>

<body>

<h1>用户登录</h1>

<p th:if="${param.registered}"
   style="color: green;">
    注册成功，请登录
</p>

<p th:if="${param.error}"
   style="color: red;">
    用户名或密码错误
</p>

<p th:if="${param.logout}"
   style="color: green;">
    已成功退出登录
</p>

<form th:action="@{/login}" method="post">

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}">

    <div>
        <label for="username">用户名：</label>

        <input id="username"
               name="username"
               type="text"
               required>
    </div>

    <br>

    <div>
        <label for="password">密码：</label>

        <input id="password"
               name="password"
               type="password"
               required>
    </div>

    <br>

    <button type="submit">登录</button>

</form>

<p>
    还没有账号？
    <a th:href="@{/register}">注册账号</a>
</p>

</body>
</html>